*{
    margin: 0;
    padding: 0;
}

.main{
    background-color: rgb(2, 198, 247);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    
}



img{
    height: 500px;
    padding: 10px;
    border: grey;
}

.foot{
    background-color: rgb(2, 198, 247);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: rgb(2, 198, 247);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}